@using HousePlans.Models.Plan
@using System.Linq

@model PlanDetailsViewModel

<div class="container bootdey text-dark">
    <section class="panel">
        <div class="row">
            <div class="col-md-8">
                <div class="w3-row-padding">
                    <h2>3D проект</h2>
                    @foreach (var photo in Model.House.Photos)
                    {
                        <div class="w3-container w3-third mt-3">
                            <img src="@photo.Url" style="width:100%;cursor:pointer" onclick="onClick(this)">
                        </div>
                    }
                </div>
                <div id="modal01" class="w3-modal text-center" onclick="this.style.display='none'">
                    <img class="w3-modal-content" id="img01" style="width:80">
                </div>
            </div>
            <div class="col-md-8">
                <div class="w3-row-padding">
                    <h2>Планове</h2>
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="w3-container w3-third mt-3">
                            <img src="@photo.Url" style="width:100%;cursor:pointer" onclick="onClick(this)">
                        </div>
                    }
                </div>
                <div id="modal01" class="w3-modal text-center" onclick="this.style.display='none'">
                    <img class="w3-modal-content" id="img01" style="width:80">
                </div>
            </div>
            <div>
            </div>
            <div class="col-8 col-md-8 mt-5 mb-5">
                <nav>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" id="common-tab" data-toggle="tab" href="#common" role="tab" aria-controls="common" aria-selected="true">Информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="instalation-tab" data-toggle="tab" href="#instalation" role="tab" aria-controls="instalation" aria-selected="false">Инсталации</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="materials-tab" data-toggle="tab" href="#materials" role="tab" aria-controls="materials" aria-selected="false">Материали</a>
                        </li>
                    </ul>
                </nav>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="common" role="tabpanel" aria-labelledby="common-tab">
                        <table class="table table-bordered text-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th>@Model.Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Area</th>
                                    <td>@Model.House.Area кв.м.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Built Up Area</th>
                                    <td>@Model.House.BuiltUpArea кв.м.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Length Of The Plot</th>
                                    <td>@Model.House.LengthOfThePlot м.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Width Of The Plot</th>
                                    <td>@Model.House.WidthOfThePlot м.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Step Of The Building</th>
                                    <td>@Model.House.StepOfTheBuilding м.</td>
                                </tr>
                                <tr>
                                    <th scope="row">House Type</th>
                                    <td>@Model.House.Type</td>
                                </tr>
                                <tr>
                                    <th scope="row">Style</th>
                                    <td>@Model.House.Style</td>
                                </tr>
                                <tr>
                                    <th scope="row">Roof</th>
                                    <td>@Model.House.Roof</td>
                                </tr>
                                <tr>
                                    <th scope="row">Garage</th>
                                    <td>@Model.House.Garage</td>
                                </tr>
                                <tr>
                                    <th scope="row">Passive House</th>
                                    <td>@(Model.House.PassiveHouse? "Yes": "No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Number Of Floors</th>
                                    <td>@Model.House.NumberOfFloors</td>
                                </tr>
                                @foreach (var floor in Model.House.Floors)
                                {
                                    <tr>
                                        <th scope="row">Floor @floor.Number</th>
                                        <td>
                                            @String.Join(" | ",floor.Rooms.Select(x=>x.Name +" "+ x.Area +"кв.м."))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="instalation" role="tabpanel" aria-labelledby="instalation-tab">
                        <table class="table table-bordered text-dark">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Biomass</th>
                                    <td>@(Model.Instalation.Biomass?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Chimney</th>
                                    <td>@(Model.Instalation.Chimney?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Eco Pallet Coal</th>
                                    <td>@(Model.Instalation.EcoPalletCoal?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Electrical</th>
                                    <td>@(Model.Instalation.Electrical?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Energy Recovery Fan</th>
                                    <td>@(Model.Instalation.EnergyRecoveryFan?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fireplace WJ</th>
                                    <td>@(Model.Instalation.FireplaceWJ? "Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Floor Heating</th>
                                    <td>@(Model.Instalation.FloorHeating?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gas</th>
                                    <td>@(Model.Instalation.Gas?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Heat Pump</th>
                                    <td>@(Model.Instalation.HeatPump?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Pellet Stove</th>
                                    <td>@(Model.Instalation.PelletStove?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Petrol</th>
                                    <td>@(Model.Instalation.Petrol?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Photovoltaic Panels For Electricity</th>
                                    <td>@(Model.Instalation.PhotovoltaicPanelsForElectricity?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Solar Hot Water Systems</th>
                                    <td>@(Model.Instalation.SolarHotWaterSystems?"Yes":"No")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Solid Fuel</th>
                                    <td>@(Model.Instalation.SolidFuel?"Yes":"No")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="materials" role="tabpanel" aria-labelledby="materials-tab">
                        <table class="table table-bordered text-dark">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Technology</th>
                                    <td>@Model.Material.Technology</td>
                                </tr>
                                <tr>
                                    <th scope="row">Overlapping Types</th>
                                    <td>@Model.Material.OverlappingTypes</td>
                                </tr>
                                <tr>
                                    <th scope="row">Types Of Roof</th>
                                    <td>@Model.Material.TypesOfRoof</td>
                                </tr>
                                <tr>
                                    <th scope="row">Types Of Walls</th>
                                    <td>@Model.Material.TypesOfWalls</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>